<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A New Concert offered near you, <%= @user.login %></h1>
    <p>
		The Group is <%= Group.find(@concert.group_id).title %><br/>
		The Concert is called <%= @concert.title %>.<br/>
		You can view details about the concert <%= link_to "HERE",@concert.webpage %>
    </p>
    <p>Note: If you want to stop email about new concerts, go to <%= link_to "HERE", @stop_notify %> </p>
  </body>
</html>