<div class="form_heading">
<br/><br/>
Administration
</div>

<div id="notes">
You have <%= @users.length %> users.
</div>

<br/><br/>
<div id="footerlinks">
<%= link_to 'Users', '/admins/allusers' %>
<%= link_to 'Groups', '/admins/groups'  %>
<%= link_to 'Concerts', '/admins/concerts'  %>
<%= link_to 'Venues', '/admins/venues' %>
</div>

<br />


