<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">

<%= link_to "What is Virtual Booking Agent?", '/agent/1/help' %><br/>
<%= link_to "I'm a venue.  What can I do at Virtual Booking Agent?", '/agent/2/help' %><br/>
<%= link_to "I'm a group.  What can I do?",'agent/3/help' %><br/>
<%= link_to "Can I both be a group and a venue?",'/agent/4/help' %><br/>
<%= link_to "Does it cost anything?",'/agent/5/help' %><br/>
<%= link_to "I'm a venue. How do I book a concert?",'/agent/6/help' %><br/>
<%= link_to "I'm a group. How do I get my concerts known?",'/agent/7/help' %> <br/>
<%= link_to "I don't have a website or a webpage for my concerts.", '/agent/8/help' %>

</div>
