<br/><br/><p id="notice"><%= notice %></p>


<table class="home">
<tbody>
<tr>
<% if @venue_id.nil? %>
<td>If you are a venue, add one here ==></td>
<% else %>
<td style="vertical-align: top;"><%= link_to "Concerts Offered Near Me", concerts_near_path(@venue_id) %><br>
</td>
<% end %>
<td style="vertical-align: top;"><%= link_to "Manage My Venues", venues_path %><br>
</td>
</tr>

<tr>
<td><%= link_to "Join a Group", '/groups/join' %></td>
<% if current_user.groups.length == 0 %>
<td></td>
<% else %>
<td style="vertical-align: top;"><%= link_to "Manage My Concerts", concerts_path %><br>
</td>
<% end %>
</tr>

<tr>
<td style="vertical-align: top;"><%= link_to "Manage My Profile", current_user %><br>
</td>
<td style="vertical-align: top;"><%= link_to "Manage My Groups", groups_path %><br/>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><%= link_to "Groups Near Me", "/users/groups_near_me" %><br>
</td>
<td style="vertical-align: top;"><%= link_to "Venues Near Me", "/users/venues_near_me" %><br/>
</td>
</tr>
</tbody>
</table>
<div id="notes">	
	Number of Concerts: <%= current_user.my_concerts.length %><br/>
	Number of Groups: <%= current_user.groups.length %> <br/>
	Number of Venues: <%= current_user.venues.length %><br/>
</div>	
	
<% if @group_id.nil? && @venue_id.nil? %>
<div id="notes">
You should either add a group if you are a performer or add a venue if you are a performing venue. 
</div>
<% end %>