<div class="form_heading">
	<br/><br/>Edit My Account</div>

	<%= form_for @user, :url => account_path do |f| %>
  <% if @user.errors.any? %>

	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this venue from being saved:</h2>

		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
  <% end %>
	<%= render :partial => "form", :object => f %>

	<div id="edit_form">
	<%= f.submit "Update" %>
</div>
<% end %>
<br/>
<div id="footerlinks">
<%= link_to "My Profile", account_path %>
</div>