<%= form_for(@venue, :html=>{:multipart=>true}) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="venue_form">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :website %> (example: http://my.website.com)<br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :street1 %><br />
    <%= f.text_field :street1 %><br/>
  </div>
  <div class="field">
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %><br/>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %><br/>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %><br/>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %><br/>
  </div><br/>
If you would like to upload a picture of your location, <br/>
it will randomly appear in Virtual Booking Agent. <br/>
It will also appear to others when they view your venue.<br/>
  <div class="field">
    <%= f.file_field :vpic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
