<br/><br/><p id="notice"><%= notice %></p>
<div class="center">
	<% if @venue.vpic_file_name.nil? %>
	<div style="text-align:center">No Image</div>
	<% else %>
	<%= image_tag @venue.vpic.url(:medium) %>
	<% end %>
</div>
<br/>
<table class="center">
	<tr><td>
		<b>Name:</b>
	</td><td>
		<%= @venue.name %>
	</td></tr>
	<tr><td>
		<b>Contact:</b>
	</td><td>
		<%= @venue.contact %>
	</td></tr>
	<tr><td>
		<b>Phone:</b>
	</td><td>
		<%= @venue.phone %>
	</td></tr>
	<tr><td>
		<b>Email:</b>
	</td><td>
		<%= mail_to @venue.email %>
	</td></tr>
	<tr><td>
		<b>Street1:</b>
	</td><td>
		<%= @venue.street1 %>
	</td></tr>
	<tr><td>
		<b>Street2:</b>
	</td><td>
		<%= @venue.street2 %>
	</td></tr>
	<tr><td>
		<b>City:</b>
	</td><td>
		<%= @venue.city %>
	</td></tr>
	<tr><td>
		<b>State:</b>
	</td><td>
		<%= @venue.state %>
	</td></tr>
	<tr><td>
		<b>Zip:</b>
	</td><td>
		<%= @venue.zip %>
	</td></tr>
	<tr><td>
		<b>Website:</b>
	</td><td>
		<%= link_to @venue.website,@venue.website %>
	</td></tr>
	
</table>
<br/>
<% if !current_user.nil? %>
<div id="footerlinks">
	<% if current_user.venues.include? @venue %>
	<%= link_to 'Edit', edit_venue_path(@venue) %> 
	<% end %>
</div>
<% end %>

<div id="notes">
<b>Concerts at this venue:</b><br/>
<br/>
<% if @concerts.length > 0 %>
	<% @concerts.each do |c| %>
		<%= link_to c.title, c.webpage %><br/>
	<% end %>
<% end %>
</div>
	