<p id="notice"><%= notice %></p>
<table class="center"><tr><td>
<p>
  <b>Title:</b>
  <%= @concert.title %>
</p>

<p>
  <b>Genre:</b>
  <%= @concert.genre %>
</p>

<p>
  <b>Group:</b>
  <%= link_to Group.find(@concert.group_id).title, Group.find(@concert.group_id) %>
</p>

<p>
  <b>Webpage:</b>
  <%= link_to @concert.webpage,@concert.webpage %>
</p>

<% if @concert.offer == false %>
<p>
	<b>Booked at: </b><%= link_to Venue.find(@concert.venue_id).name, Venue.find(@concert.venue_id) %>

	, <%= @concert.date.strftime("%A %B %d %Y, %r") %>
</p>
<% end %>
</td></tr></table>
<br/>
<div id="footerlinks">
<% if @can_edit %>
<%= link_to 'Edit', edit_concert_path(@concert) %> 
<% end %>
</div>

<div id="notes">
	If you would like to book this concert, click on the group and you will see the contact information. 
	</div>