<!DOCTYPE html>
<html>
<head>
  <title>Bookit4pg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "vba" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vba" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="heading">
	<div id="leftside">
		
	<%=link_to "Home", :home %>
	<% if !current_user.nil? %>
	  <%=link_to "Logout", :logout  %>
	<% else %> 
	  <%=link_to "Login", :login  %>
	<% end %>
	<% if Group.all.length > 0 %>
	<% group_array = Group.all %>
	<% sel = rand(group_array.length) %>
	<% group = group_array[sel] %>
	<%= image_tag group.picture.url(:medium) %>
	<br/>
	<div id="caption">
	<%= link_to group.title, group %>
	<% end %>
</div>
	</div>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143085459093289";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
		
	
	<div id="centertext">
	<% if current_user.nil? %>
	Virtual Booking Agent 
	<% else %>
	Virtual Booking Agent - Logged in as <%=current_user.login%>
	<% end %>&nbsp;&nbsp;&nbsp;
	<div class="fb-like", data-href="http://virtualbookingagent.com" data-send="true" data-layout="button_count" data-width="50" data-show-faces="true" data-font="lucida grande" style="top:-15px" ></div>
	
	</div>
	
	
	<div id="rightside">
	<%= link_to "About", :about %>
	<%= link_to "Help ", :help %>
	
		
	<% if Venue.all.length > 0 %>
	<% v=Venue.where(:vpic_file_name=>nil) %>
	<% venue_array = Venue.all - v %>
	<% sel = rand(venue_array.length) %>
	<% venue = venue_array[sel] %>
	
	<% if !venue.vpic_file_name.nil? %>
<%= image_tag venue.vpic.url(:medium) %>
<br/>
<div id="caption">
<%= link_to venue.name, venue %>
</div>

<% end %>
<% end %>
	</div>
	</div>

<%= yield %>

</body>
</html>
